<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    <i class=""></i>
    <i class="fas fa-cloud-sun-rain"></i>
    <span class="font-weight-bold text-success">&nbsp;&nbsp;Climate data Analyser</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
          aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <!--      <li class="nav-item active">-->
      <li>
        <a class="nav-link" routerLink="/climates">Climates </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/analytics">Analytics </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/database">Data Base</a>
      </li>
    </ul>
  </div>
</nav>
