<div class="container">

  <p>{{ message}}</p>

  <h2><span class="badge badge-primary">{{currentDbLoadStatus}}</span></h2>

  <p>
    Last run : {{ dbLoadResponseDto.lastLoad}}
    Status : {{ dbLoadResponseDto.status}}
  </p>


  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th *ngFor="let col of columns">
          {{col}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr mdbTableCol *ngFor="let dbLoadStep of dbLoadResponseDto.dbLoadSteps ">
        <td *ngFor="let col of columns">
          {{dbLoadStep[col]}}
        </td>
      </tr>
    </tbody>
  </table>


  <!-- Note menu -->
  <div class="row" style="margin-top:12px;">
    <div class="col-md-4">
      <button type="button"
              (click)="loadDataBase()"
              class="btn btn-primary btn-lg"
              style="margin-left:12px;">Load DataBase
      </button>
    </div>

</div>
