<div>

<label for="Bundeslaender"></label>
  <select id="Bundeslaender" [(ngModel)]="selectedBundesland" (ngModelChange)='onBundeslaenderDropDownListSelected($event)'>
    <option value="" selected>select a Bundesland</option>
    <option *ngFor="let bundesland of bundeslaender" [value]="bundesland">{{bundesland}}</option>
  </select>
</div>
<div>{{selectedBundesland}}</div>

<p>
  ErrorMsg : {{ climateAnalyserResponseDto?.errorMsg}}
</p>

<div>

  <form [formGroup]="angForm" (ngSubmit)="onClickSubmit()">
    <label>
      GPS1.Latitude   :
      <input type = "number" formControlName="gps1lat">
    </label>

    <label>
        . GPS1.Longitude :
      <input type = "number" formControlName="gps1long">
    </label>

    <br/>
    <label>
      GPS2.Latitude  :
      <input type = "number" formControlName="gps2lat">
    </label>

    <label>
      . GPS2.Longitude :
      <input type = "number" formControlName="gps2long">
    </label>

    <br/>
    <label>
      Climate for Year    :
      <input type = "text" formControlName="yearO">
    </label>

    <label>
      . Compare with StationID ,existing in Year    :
      <input type = "text" formControlName="yearC">
    </label>

    <br/>
    <button type="submit">Submit</button>
  </form>

</div>

<table class="table">
  <thead class="thead-light">
  <tr>
    <th scope="col">{{climateAnalyserResponseDto?.originYear}}</th>
    <th scope="col">Januar</th>
    <th scope="col">Februar</th>
    <th scope="col">März</th>
    <th scope="col">April</th>
    <th scope="col">Mai</th>
    <th scope="col">Juni</th>
    <th scope="col">Juli</th>
    <th scope="col">August</th>
    <th scope="col">September</th>
    <th scope="col">Oktober</th>
    <th scope="col">November</th>
    <th scope="col">Dezember</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">Climate : </th>
    <td>{{climateAnalyserResponseDto?.original.januar}}</td>
    <td>{{climateAnalyserResponseDto?.original.februar}}</td>
    <td>{{climateAnalyserResponseDto?.original.maerz}}</td>
    <td>{{climateAnalyserResponseDto?.original.april}}</td>
    <td>{{climateAnalyserResponseDto?.original.mai}}</td>
    <td>{{climateAnalyserResponseDto?.original.juni}}</td>
    <td>{{climateAnalyserResponseDto?.original.juli}}</td>
    <td>{{climateAnalyserResponseDto?.original.august}}</td>
    <td>{{climateAnalyserResponseDto?.original.september}}</td>
    <td>{{climateAnalyserResponseDto?.original.oktober}}</td>
    <td>{{climateAnalyserResponseDto?.original.november}}</td>
    <td>{{climateAnalyserResponseDto?.original.dezember}}</td>
  </tr>
  <tr>
    <th scope="row">Compare:</th>
    <td>{{climateAnalyserResponseDto?.compare.januar}}</td>
    <td>{{climateAnalyserResponseDto?.compare.februar}}</td>
    <td>{{climateAnalyserResponseDto?.compare.maerz}}</td>
    <td>{{climateAnalyserResponseDto?.compare.april}}</td>
    <td>{{climateAnalyserResponseDto?.compare.mai}}</td>
    <td>{{climateAnalyserResponseDto?.compare.juni}}</td>
    <td>{{climateAnalyserResponseDto?.compare.juli}}</td>
    <td>{{climateAnalyserResponseDto?.compare.august}}</td>
    <td>{{climateAnalyserResponseDto?.compare.september}}</td>
    <td>{{climateAnalyserResponseDto?.compare.oktober}}</td>
    <td>{{climateAnalyserResponseDto?.compare.november}}</td>
    <td>{{climateAnalyserResponseDto?.compare.dezember}}</td>
  </tr>
  </tbody>
</table>
