<div>

<label for="Bundeslaender"></label>
  <select [(ngModel)]="selectedBundesland" (ngModelChange)='onBundeslaenderDropDownListSelected($event)'>
<!--    <option value="" disabled selected>>select an option</option>-->
    <option *ngFor="let bundesland of bundeslaender" [value]="bundesland">{{bundesland}}</option>
  </select>
</div>
<div>{{selectedBundesland}}</div>

<p>
  ErrorMsg : {{ climateAnalyserResponseDto.errorMsg}}
</p>

<div>

  <form [formGroup]="angForm">
    <label>GPS1.Latitude   :
      <input type = "number"
             name = "GPS1 Latitude"
             placeholder = "GPS1 latitude"
             formControlName="gps1lat"
             #gps1lat>
    </label>
    <label> GPS1.Longitute :
      <input type = "number"
             name = "GPS1 Longitude"
             placeholder = "GPS1 Longitude"
             formControlName="gps1long"
             #gps1long>
    </label>
    <br/>
    <label>GPS2.Latitude  :
      <input type = "number"
             name = "GPS2 Latitude"
             placeholder = "GPS2 latitude"
             formControlName="gps2lat"
             #gps2lat>
    </label>
    <label> GPS2.Longitude :
      <input type = "number"
             name = "GPS2 Longitude"
             placeholder = "GPS2 Longitude"
             formControlName="gps2long"
             #gps2long>
    </label>
    <br/>
    <label>Origine Year    :
      <input type = "string"
             name = "yearO"
             placeholder = "Year origine"
             formControlName="yearO"
             #yearO>
    </label>
    <label> Compare Year    :
      <input type = "string"
             name = "yearC"
             placeholder = "Year to compare"
             formControlName="yearC"
             #yearC>
    </label>
    <br/>
    <input type = "submit"
           value = "submit"
           (click) = "onClickSubmit(gps1lat.value, gps1long,gps2lat,gps2long,yearO,yearC)" >
  </form>

</div>

<table class="table">
  <thead class="thead-light">
  <tr>
    <th scope="col">{{climateAnalyserResponseDto.originYear}}</th>
    <th scope="col">Januar</th>
    <th scope="col">Februar</th>
    <th scope="col">März</th>
    <th scope="col">April</th>
    <th scope="col">Mai</th>
    <th scope="col">Juni</th>
    <th scope="col">Juli</th>
    <th scope="col">August</th>
    <th scope="col">September</th>
    <th scope="col">Oktober</th>
    <th scope="col">November</th>
    <th scope="col">Dezember</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">Original : </th>
    <td>{{climateAnalyserResponseDto.original.januar}}</td>
    <td>{{climateAnalyserResponseDto.original.februar}}</td>
    <td>{{climateAnalyserResponseDto.original.maerz}}</td>
    <td>{{climateAnalyserResponseDto.original.april}}</td>
    <td>{{climateAnalyserResponseDto.original.mai}}</td>
    <td>{{climateAnalyserResponseDto.original.juni}}</td>
    <td>{{climateAnalyserResponseDto.original.juli}}</td>
    <td>{{climateAnalyserResponseDto.original.august}}</td>
    <td>{{climateAnalyserResponseDto.original.september}}</td>
    <td>{{climateAnalyserResponseDto.original.oktober}}</td>
    <td>{{climateAnalyserResponseDto.original.november}}</td>
    <td>{{climateAnalyserResponseDto.original.dezember}}</td>
  </tr>
  <tr>
    <th scope="row">Compare:</th>
    <td>{{climateAnalyserResponseDto.compare.januar}}</td>
    <td>{{climateAnalyserResponseDto.compare.februar}}</td>
    <td>{{climateAnalyserResponseDto.compare.maerz}}</td>
    <td>{{climateAnalyserResponseDto.compare.april}}</td>
    <td>{{climateAnalyserResponseDto.compare.mai}}</td>
    <td>{{climateAnalyserResponseDto.compare.juni}}</td>
    <td>{{climateAnalyserResponseDto.compare.juli}}</td>
    <td>{{climateAnalyserResponseDto.compare.august}}</td>
    <td>{{climateAnalyserResponseDto.compare.september}}</td>
    <td>{{climateAnalyserResponseDto.compare.oktober}}</td>
    <td>{{climateAnalyserResponseDto.compare.november}}</td>
    <td>{{climateAnalyserResponseDto.compare.dezember}}</td>
  </tr>
  </tbody>
</table>
