<br><br>
<a href="https://www.youtube.com/watch?v=ZYXrGlYAZOg&t=1070s" target="_blank" >KlimaSchwindel</a>
<br><br>
<a href="https://github.com/Alexstuder/climatedataanalyser" target="_blank" >Schtudis : GitHub Repository</a>
<br><br>
<a href="https://www.dwd.de/DE/Home/home_node.html" target="_blank" >WebSite Deutscher Wetterdienst</a>
<br><br>
<a href="https://opendata.dwd.de" target="_blank" >Datenzugriff auf Deutscher Wetterdienst</a>
<br><br>
<a href="ftp://opendata.dwd.de/climate_environment/CDC/observations_germany/climate/monthly/kl/historical/BESCHREIBUNG_obsgermany_climate_monthly_kl_historical_de.pdf" target="_blank" >Data Description</a>
<br><br>


<h2>WETTEINSATZ</h2>
<textarea id="WettEinsatz" rows="8" cols="150">
[‎16.‎08.‎2019 15:19]
ok dann erklär ich dir das ... wenn der Temperaturunterschied >0.5 ist dann treffen wir uns im Glaskasten und du sagst folgende Worte :
Ich habe behauptet dass der Temperatur unterschied zwischen 1989 zu 2018 kleiner gleich 0.5 grad beträgt und der schöne schtudi hat mich eines besseren belehrt und deswegen gebe ich hiermit zu ein Klimaleugner zu sein :)

[‎16.‎08.‎2019 15:20]
....und ich nehm das auf video mit dem handy auf :)
</textarea>

<br>
<br>
<br>
<h2>Korrespondenz</h2>
<textarea id="Korrespondenz" rows="20" cols="150">
  Moin Moin

….ganz unten …. Fehlt noch ein inbrünstiges 'JA!' von dir 😊

Freundliche Grüsse
Alexander Studer
DevOps Geldverkehr & Open Banking, LBGE

Zürcher Kantonalbank, Geschäftshaus Hard F
Telefon +41 44 292 70 78
Briefadresse: Postfach, 8010 Zürich / www.zkb.ch

Sie drucken diese E-Mail nicht aus? Die Umwelt dankt!

Von: Studer Alexander
Gesendet: Dienstag, 20. August 2019 16:52
An: 'alex@alexstuder.ch' <alex@alexstuder.ch>; Beckmann Wolfgang <wolfgang.beckmann@zkb.ch>
Betreff: WG: 0.5 Grad

Hier folgt noch der zweite Teil :

[‎19.‎08.‎2019 08:37]  Beckmann Wolfgang:
Hallo Chewbe

[‎19.‎08.‎2019 08:38]
ciao ciao der Klimalllllllll ... :)

[‎19.‎08.‎2019 08:38]  Beckmann Wolfgang:
Hast du gewusst Greta Thunberg kommt nicht in den Himmel?

[‎19.‎08.‎2019 08:38]
Greta wer ??

[‎19.‎08.‎2019 08:39]  Beckmann Wolfgang:
Schulstreik for Klimate

[‎19.‎08.‎2019 08:39]
Schul- was ???

[‎19.‎08.‎2019 08:39]  Beckmann Wolfgang:
stell dich nicht dumm die 16Jährige.

[‎19.‎08.‎2019 08:40]
ja ... du hast angefangen mit dummstellen .... also was isch mit der Greta ..... wieso kommt dies nicht in den Himmel <-- was das auch immer sein mag !

[‎19.‎08.‎2019 08:41]  Beckmann Wolfgang:
Das CO2 lässt sie nicht durch.

[‎19.‎08.‎2019 08:42]
ah .... soweit also schon ... keine Argumente ,keine sachliche Diskusion ...sich aber lustig machen ab nem unschuldigen mädchen , dass sich sorgen um ihre zukunft macht !!!!
echt jetzt ??!!

[‎19.‎08.‎2019 08:42]  Beckmann Wolfgang:
das hat doch was?

[‎19.‎08.‎2019 08:43]
nur wenn man rechtspopulistisch , klimatheoretisch en Dau oder Klimaleugner isch .....
oder sag du mir .... was da dran sein soll ?

[‎19.‎08.‎2019 08:55]  Beckmann Wolfgang:
das ist das Niveau der Klimaforschung.

[‎19.‎08.‎2019 08:59]
aha denkst du ? ...... dann wärst wohl zu einem höheren Wett einsatz willig ?? :)

[‎19.‎08.‎2019 09:11]
... hab en anderen
wie bringt man einen Klimaleugner zum verstummen ??!!

[‎19.‎08.‎2019 09:12]  Beckmann Wolfgang:
mit CO2

[‎19.‎08.‎2019 09:12]
ne viel einfacher ..... man fordert verbindlichkeiten !!! :)

[‎19.‎08.‎2019 09:18]
.... und schon isch wieder ruhe :)

[‎19.‎08.‎2019 09:21]
eines vorweg .. habe die beiden Parameter eingaben für den Feldberg gemacht .....<-- noned representativ ... aber wenn ich dich wäre ... würde ich mal anfangen ein bisschen kleinlautere töne von dir zu geben :)

[‎19.‎08.‎2019 10:22]
hmmmmm h0000000105llo ..... eeeeeeeechooo :)
immerwieder lustig :)
ich haette dir noch ne Wette zum anbieten :)

[‎19.‎08.‎2019 10:23]  Beckmann Wolfgang:
du kommst auch nicht in den Himmel

[‎19.‎08.‎2019 10:24]
???? wieso denn dass nu ??

[‎19.‎08.‎2019 10:24]  Beckmann Wolfgang:
sag ich lieber nicht

[‎19.‎08.‎2019 10:24]
hmmmmmm schiss ??? :)

[‎19.‎08.‎2019 10:25]
Kein Titel
schiss hase !! schiss hase !!
-- A.Studer : wiederholt sich 20 mal ----

[‎19.‎08.‎2019 14:29]
buh !!

[‎20.‎08.‎2019 13:11]
na du :)
immnerno schiss ???!!

[‎20.‎08.‎2019 13:11]  Beckmann Wolfgang:
nein
hast du jetzt die Ergebnisse

[‎20.‎08.‎2019 13:12]
haha .... ne ich bereite mich noch auf die Ferien vor :) habe aber noch ne Wette zum anbieten :)

[‎20.‎08.‎2019 14:16]
nicht neugierig ??

[‎20.‎08.‎2019 14:17]  Beckmann Wolfgang:
also los

[‎20.‎08.‎2019 14:55]
also ..... los ......
wie wäre es , wenn man von den verschwundenen Wetterstationen die letzten 30 Jahre als Klimawert festhält und die vergleicht  mit den ersten 30 Jahren !!??

[‎20.‎08.‎2019 14:56]
waere das ned auch ne aussage .... wurde bis zum abbau der Station wärmer ??

[‎20.‎08.‎2019 14:57]  Beckmann Wolfgang:
kann nicht folgen

[‎20.‎08.‎2019 14:59]
ein paar Stationen wurden ja abgebaut und liefern bis 2018 keine Daten....
der vorwurf war doch , dass das die Stationen sind die wärmere Temperaturen liefern würden !?
dem könnte man ja gerecht werden , wenn man die verschwundenen Stationen auswerten würde...nach meine obigen metriken ??!!
was meinsch ??

[‎20.‎08.‎2019 15:01]  Beckmann Wolfgang:
ich gehe davon aus dass es wärmer wurde

[‎20.‎08.‎2019 15:04]
ja ... schon eine kleine Einsicht :) wieviel ist aber die Frage ??!!

[‎20.‎08.‎2019 15:18]  Beckmann Wolfgang:
genau

[‎20.‎08.‎2019 15:21]
also dann schiess mal los ... wie hoch denkst wird der unterschied zu denjenigen sein , welche bis ende 2018 eingeliefert haben ?

[‎20.‎08.‎2019 15:24]  Beckmann Wolfgang:
welcher Unterschied?

[‎20.‎08.‎2019 15:24]
hmmm ? wolfi was isch los ?

[‎20.‎08.‎2019 15:25]
in deinem Video ... wurde doch conspiriert, dass en paar Wetterstationen abgebaut wurden, weil diese eher kältere Temperaturen lieferten... und diese wurden dann in den Städten(da dort wärmer) wieder aufgebaut !!?? OK ??

[‎20.‎08.‎2019 15:25]  Beckmann Wolfgang:
ja

[‎20.‎08.‎2019 15:27]
Also ... wenn man nun hingeht und sich die Daten vom Server holt ... die bis ... sagen wir mal 2005 eingeliefert wurden .... und die letzten Jahren mittelt = Klima ..... und diese vergleicht mit den ersten Jahren in denen Daten geliefert wurde .... was wäre dann das ergebnis zu den anderen Stationen ??
Also vergleich 2005 - 1975  gegen 1930 - 1960 !!! Wenn diese Datensätze vorliegen !

[‎20.‎08.‎2019 15:29]
mann könnte dann wieder hingehen zu einer station , welche die Datensätze bis 2018 eingeliefert haben und dann wieder 2005 - 1975 gegen 1930 - 1960 miteinander vergleichen !!??

[‎20.‎08.‎2019 15:42]
ok ?? verständlich ??

[‎20.‎08.‎2019 15:47]  Beckmann Wolfgang:
es geht so: nimm 30 Jahre von allen Stationen mit den Station die es heute nicht mehr gibt und rechne den Durchschnitt. Dann nimmst du in der gleichen Periode die Stationen die es heut noch gibt und rechnest den Durchschnitt und vergleichst.

[‎20.‎08.‎2019 15:48]
??? Wo ist der Unterschied zu meinem Vorschlag ??

[‎20.‎08.‎2019 15:48]  Beckmann Wolfgang:
du hast 2 Perioden

[‎20.‎08.‎2019 15:48]
ach so .... verstehe

[‎20.‎08.‎2019 15:49]
ich habe 2 Perioden , da ich die veränderung (anfang Messen des Klima - ende Messen des Klimas ) feststellen will
und mit dieser Methode kannst du die Veränderung des Standpunktes vernachlässigen !?

[‎20.‎08.‎2019 15:51]
Die Behauptung wäre doch ; die heute verschwundenen müssten weniger abweichung oder sogar gleichbleiben gewesen sein !

[‎20.‎08.‎2019 15:53]  Beckmann Wolfgang:
nein die kühleren Werte zählen nicht mehr.
daraus ergibt sich Eine Erwärmung im Durchschnitt die keine ist.

[‎20.‎08.‎2019 15:55]
ja genau..... du unterstellst hier aber einfach mal so , dass es kühlere Werte sind !?

[‎20.‎08.‎2019 15:56]  Beckmann Wolfgang:
das ist ja unbestritten

[‎20.‎08.‎2019 15:57]
? schick mir den Link dazu !? Ausser deinem Conspiracy Video ... kenn ich niemanden ernsthaften , der das auch behauptet !?

[‎20.‎08.‎2019 16:08]
?? was gefunden ??

[‎20.‎08.‎2019 16:09]  Beckmann Wolfgang:
https://de.wikipedia.org/wiki/Stadtklima

[‎20.‎08.‎2019 16:12]
nein .... Stadtklima > Waldklima : keine Diskussion .....
das ist ja auch nicht unsere Diskussion !!??

[‎20.‎08.‎2019 16:12]  Beckmann Wolfgang:
doch
das ist ja der Schummel wenn man kältere Stationen entfernt

[‎20.‎08.‎2019 16:15]
haha du bist lustig ...du bist in einem teufelskreis gefangen ; mit der von mir beschriebenen Methode wäre es doch zu beweisen , dass die kühleren Stationen entfernt wurden !!?? Wie hast du das bislang bewiesen ??!! Nie !?

[‎20.‎08.‎2019 16:17]
Du hast einfach aufgrund der fehlendne Stationen behauptet , dass diese kühler Werte liefern würden !

[‎20.‎08.‎2019 16:18]  Beckmann Wolfgang:
das ist ja offensichtlich

[‎20.‎08.‎2019 16:18]
harharharhar .... liefer Daten !!

[‎20.‎08.‎2019 16:18]  Beckmann Wolfgang:
das sind kühlere Stationen

[‎20.‎08.‎2019 16:19]
beweise ??!!
Daten ?? Auswertungen ??!!

[‎20.‎08.‎2019 16:19]  Beckmann Wolfgang:
die kannst du ja jetzt liefern

[‎20.‎08.‎2019 16:19]
ja ... kann ich ...
dein Wett Einsatz ?

[‎20.‎08.‎2019 16:21]  Beckmann Wolfgang:
nada

[‎20.‎08.‎2019 16:21]
buhhhhhhhh   ..... buhhhhhh
....zuerst so ist offensichtlich ......
.....zuerst so .... das sind kühlere Stationen ...
....... und  dann so ....mimimimimimimimimimimi

[‎20.‎08.‎2019 16:22]  Beckmann Wolfgang:
ich bin froh dass du es endlich kapiert hast.

[‎20.‎08.‎2019 16:22]
.......das du en behaupti bisch .... ??

[‎20.‎08.‎2019 16:23]  Beckmann Wolfgang:
nein was die Schummelei

[‎20.‎08.‎2019 16:23]
dann setz doch was !!??? mimimimimimimimimi

[‎20.‎08.‎2019 16:26]
sag mir ...umwieviel kühler .... die Werte sein werden !!??

[‎20.‎08.‎2019 16:27]  Beckmann Wolfgang:
weiss ich nicht

[‎20.‎08.‎2019 16:34]
aber du weisst es sind kühlere Werte !

[‎20.‎08.‎2019 16:34]  Beckmann Wolfgang:
ja

[‎20.‎08.‎2019 16:35]
sind es denn viele stationen ?
die netfernt wurden ?!

[‎20.‎08.‎2019 16:37]
..einfach so als überlegung ......
es sind eher weniger stationen ...die da entfernt wurden

[‎20.‎08.‎2019 16:37]  Beckmann Wolfgang:
auffällig viele duzende

[‎20.‎08.‎2019 16:38]
wieviele ??!!
6-7 dutzend !?

[‎20.‎08.‎2019 16:39]  Beckmann Wolfgang:
prüfe es nach

[‎20.‎08.‎2019 16:39]
harhar ... du bisch schon vorsichtiger :)
gut so
es sind wenige Stationen die da entfernt wurden ; überlege mal , wieviel kühler es sein mus , um einen mittelwert runter zu korrigieren !

[‎20.‎08.‎2019 16:41]
ich unterstelle noch nix ... aber vermute stark , dass du da einem hirngespinst einer conspiration nachgehst .... und das ziemlich ohne gross zu hinterfragen !

[‎20.‎08.‎2019 16:42]  Beckmann Wolfgang:
jedes zehntel Grad zählt

[‎20.‎08.‎2019 16:43]
hmmm ok ... pro 0.1 hats dann wieviel einfluss ?
ich denke ... wir haben genug chat material um einiges zu prüfen .... ich werd mich da auch ran setzen und dir was liefern .... damit das ganze transparent, stell ich s auf GitHub somit kannst du schön mitverfolgen wie was gemacht wird !

[‎20.‎08.‎2019 16:46]
EINES vorweg : Ich habe mit dir Datenherkunft und einige Methoden zum überprüfen diskutiert und im Chat festgehalten .... da haben wir einen Konsens . Ein Konsens muss noch folgen : Datenherkunft , ich beziehe die Daten aus dem öffentlich zugänglichen Server ; die aus deinem Video !

[‎20.‎08.‎2019 16:47]
Egal , welches Ergebnis daraus resultiert : Wir werden nicht die Datenherkunft diskutieren ! Weder Ich noch du !?
Einverstanden ?!

[‎20.‎08.‎2019 16:47]  Beckmann Wolfgang:
ja

[‎20.‎08.‎2019 16:48]
nice :)




Freundliche Grüsse
Alexander Studer
LIBGJ

Zürcher Kantonalbank, Geschäftshaus Hard F
Telefon +41 44 292 70 78
Briefadresse: Postfach, 8010 Zürich / www.zkb.ch

Sie drucken diese E-Mail nicht aus? Die Umwelt dankt!

Von: Studer Alexander
Gesendet: Freitag, 16. August 2019 17:46
An: Beckmann Wolfgang <wolfgang.beckmann@zkb.ch>
Betreff: 0.5 Grad

[‎15.‎08.‎2019 09:36]
moin moin .... hab gestern mal mit den Daten angefangen :)

[‎15.‎08.‎2019 09:37]  Beckmann Wolfgang:
Hallo

[‎15.‎08.‎2019 09:45]
Ich habe mal eine Messstation "Feldberg" isoliert und habe ein csv vom Wetterdienst in eine MySQL DB geladen ... Monatsdaten vom jahr 1931 - 2018 alles lückenlose vorhanden :) Somit mit SQL abgreifbar :)  ich hab mal eingeschränkt vom 1989 - 2018 schön 30 Jahre = Klima :)
soweit sogut ?

[‎15.‎08.‎2019 10:53]
??? Soweit so gut ??

[‎15.‎08.‎2019 10:54]  Beckmann Wolfgang:
ja du willst es genau wissen

Verbunden mit Beckmann Wolfgang (wolfgang.beckmann@zkb.ch).
[‎15.‎08.‎2019 10:54]
??? du hast mich angerufen ??
ich bin am Tel ??!!

[‎15.‎08.‎2019 10:54]  Beckmann Wolfgang:
nein

Das Telefonat mit Beckmann Wolfgang (wolfgang.beckmann@zkb.ch) wurde beendet. 9 Minuten
[‎16.‎08.‎2019 09:10]
moin moin
haste köppel tweet gelesen :) ??

[‎16.‎08.‎2019 09:11]  Beckmann Wolfgang:
nein, zeig her.

[‎16.‎08.‎2019 09:11]
naja ...Tweeter ! bezgl. Greta :)
wasentrottel !?

[‎16.‎08.‎2019 09:13]  Beckmann Wolfgang:
???

[‎16.‎08.‎2019 09:13]
ja musch du halt Tweeter !
nun gut 0.5 grad ... in den letzten 100 jahren ?

[‎16.‎08.‎2019 09:14]  Beckmann Wolfgang:
30 Jahren

[‎16.‎08.‎2019 09:14]
ok .. wie würdest dies berechnet ?

[‎16.‎08.‎2019 09:15]  Beckmann Wolfgang:
Jahresdurchschnitt berechnen für jedes Jahr

[‎16.‎08.‎2019 09:16]
hmmmm also sum(jan - dez) / 12  für jedes jahr !? und dann ? 1989 mit 2018 vergleichen ?

[‎16.‎08.‎2019 09:17]  Beckmann Wolfgang:
alle Jahresdurchschnittswerte ausgeben

[‎16.‎08.‎2019 09:17]
ok das geht und dann ??!!

[‎16.‎08.‎2019 09:19]  Beckmann Wolfgang:
dann schauen wir uns der Verlauf an.

[‎16.‎08.‎2019 09:24]
hmmmm ne du .... wie der Unterschied ausgewiesen wird werden wir ned mit den Daten entscheiden sondern vorher !
komm mach ne definition :)

[‎16.‎08.‎2019 09:25]  Beckmann Wolfgang:
genau, der Durchschnitt aller Jahresdurchscnnitte berechnen.
und dann eine linie legen

[‎16.‎08.‎2019 09:26]
ok will heissen durchschnitt von jedem jahr ... ergibt 30 zahlen und dann ? dessen durchschnitt ?? ergibt eine zahl ...nehmen wir an 15 ! und dann ?? Wie kommen wir auf einen unterschied ?

[‎16.‎08.‎2019 09:27]  Beckmann Wolfgang:
indem wir eine Linie legen.
die Steigung ist dann die Erwärmung
eben dann keine Erwärmung

[‎16.‎08.‎2019 09:28]
jaja .. mal zuerst nüchtern definieren(ich werte das aber als freundschen :) )
Linie klingt .. gut wie berechnen !?
anfangspunkt mit endpunkt ??

[‎16.‎08.‎2019 09:29]  Beckmann Wolfgang:
es ist kompliezierter
muss man Googeln wie man das berechnet.

[‎16.‎08.‎2019 09:35]  Beckmann Wolfgang:
es geht auch einfacher

[‎16.‎08.‎2019 09:36]  Beckmann Wolfgang:
das gleiche zwischen 1959 1989 durchschnitt aller Durchschnitte

[‎16.‎08.‎2019 09:43]
ok dann haben 159-1989 und 1989-2018 ? die beiden Zahlen ??
subtrahiert ergeben 0.5 ?

[‎16.‎08.‎2019 09:44]  Beckmann Wolfgang:
was auch immer wir werden es sehen

[‎16.‎08.‎2019 09:45]
ne .... ! Wir machen dies vorher ab !

[‎16.‎08.‎2019 09:45]  Beckmann Wolfgang:
na gut ich sage <= 0.5 Grad

[‎16.‎08.‎2019 09:51]
also ich fasse zusammen 1959-1989 Jahresdurchschnitt auf Basis von Jahreszahlen - 1989-2018 Jahresdurchschnitt auf Basis von Jahreszahlen die beiden Zahlen voneinander abgezogen ergeben <=0.5

[‎16.‎08.‎2019 09:52]  Beckmann Wolfgang:
(y)

[‎16.‎08.‎2019 09:52]
wenn >0.5 wirst du dich selber Klimaleugner nennen !

[‎16.‎08.‎2019 09:53]  Beckmann Wolfgang:
sicher nicht du Knutti

[‎16.‎08.‎2019 09:57]
hmmm war der ursprüngliche wett einsatz....
dann biete einen neuen Wetteinsatz !

[‎16.‎08.‎2019 09:58]  Beckmann Wolfgang:
keine Wette

[‎16.‎08.‎2019 09:59]
uhhhh dann musst du halt drauf verzichten :)

[‎16.‎08.‎2019 10:00]  Beckmann Wolfgang:
was machst du?

[‎16.‎08.‎2019 10:19]
gut aussehen wie immer..... scherz beiseite ...du warst der der daher kam und angefangen mit ...uhh die manipulieren !
es würde ja auch an dir liegen den gegenbeweis zu leisten .. wenn ich mir das schon aufbürde... dann will ich auch was sehen :)

[‎16.‎08.‎2019 12:14]
na was isch :) wo isch dein Wett einsatz ?? Bisch dir gar ned sooo sicher hmmm ??!!! :)
mimimimimimimimimi :)

[‎16.‎08.‎2019 12:20]
:o3:o3:o3:o3:o3:o3

[‎16.‎08.‎2019 12:20]  Beckmann Wolfgang:
du solltest in die Klimaforschung wechseln

[‎16.‎08.‎2019 12:21]
ne du .... nur weil ich mir mehr mühe gebe es zu verstehen und ehrgeizig bin dem nachzugehen ... heisst noch lange ned , dass man da Forschen könnte ..... aber eben ... du unterschätzt das ziemlich !

[‎16.‎08.‎2019 12:22]  Beckmann Wolfgang:
nein wegen deiner kreativität

[‎16.‎08.‎2019 12:23]
????? die kommt bloss zum einsatz, wenn ich einen vermeintlichen bhaupti aufdecke :)

[‎16.‎08.‎2019 12:25]
(cat)(cat)(cat)(cat)(cat)(cat)
kommmschon du  bhaupti .... wie sicher biste ??!! :) Lass mal deinen Worten Taten folgen :)

[‎16.‎08.‎2019 12:26]  Beckmann Wolfgang:
liefere jetzt das Ergebniss.

[‎16.‎08.‎2019 12:27]
harhar :) zuerst deinen Einsatz :)
..... ah ja ..... welche Wetterstationen sollen zum einsatz kommen ?
also ... alle die die Daten bis 2018 eingeliefert haben .... das ist ja mal klar ....

[‎16.‎08.‎2019 12:28]
ganz deutschland ???
schwarzwald ?

[‎16.‎08.‎2019 12:28]  Beckmann Wolfgang:
schwarzwald

[‎16.‎08.‎2019 12:29]
kannst du das geografisch einschränken ?

[‎16.‎08.‎2019 12:30]  Beckmann Wolfgang:
badenwürtemberg

[‎16.‎08.‎2019 12:31]
hmmmm das isch ein punkt !
ach so du meinst das ganze bundesland ?!

[‎16.‎08.‎2019 12:32]  Beckmann Wolfgang:
ja oder ganz Deutschland

[‎16.‎08.‎2019 12:35]
sollte gehen ....  mit ganz deutschland .... mal schaun wieviele dateien das sind !! Sollt aber mit nem automatisierten ftp und nem batch command schon flutschen ! zipen moven und dann in die MySQL rein ...dann
 2x  den Select mit den parametern laufen lassen und summe bilden .... ja ned sone Sache :)

[‎16.‎08.‎2019 12:36]  Beckmann Wolfgang:
ich dacht nur eine Wetterstation

[‎16.‎08.‎2019 12:36]
????
wie meinsch ?

[‎16.‎08.‎2019 12:37]  Beckmann Wolfgang:
die Resultate nur von einer Station

[‎16.‎08.‎2019 12:37]
ach so du willst bloss eine ??!! OK .... welche ??!!
Feldberg haette ich schon geladen ?!

[‎16.‎08.‎2019 12:37]  Beckmann Wolfgang:
ja Feldberg

[‎16.‎08.‎2019 12:38]
ok ... das habi in 2 min :)
.... also zuhause .....
wenn dir das so reicht :)
also einsatz !!??:)

[‎16.‎08.‎2019 14:15]
aiiiiiiiiiiiiiiiiiiiiiiiiinsatz .......

[‎16.‎08.‎2019 14:16]  Beckmann Wolfgang:
ja

[‎16.‎08.‎2019 15:14]
oh ok .... also .... du wirst dich bei >0.5 selbst ein klimaleugner nenne ??

[‎16.‎08.‎2019 15:15]  Beckmann Wolfgang:
wenn es dir hilft ja unbedingt

[‎16.‎08.‎2019 15:16]
und wie es mir hilft :)
auch auf Video :)??

[‎16.‎08.‎2019 15:16]  Beckmann Wolfgang:
nur im Skype

[‎16.‎08.‎2019 15:17]
??? du verstehst schon was video heisst oder ??!!

[‎16.‎08.‎2019 15:18]  Beckmann Wolfgang:
nein

[‎16.‎08.‎2019 15:19]
ok dann erklär ich dir das ... wenn der Temperaturunterschied >0.5 ist dann treffen wir uns im Glaskasten und du sagst folgende Worte :
Ich habe behauptet dass der Temperatur unterschied zwischen 1989 zu 2018 kleiner gleich 0.5 grad beträgt und der schöne schtudi hat mich eines besseren belehrt und deswegen gebe ich hiermit zu ein Klimaleugner zu sein :)

[‎16.‎08.‎2019 15:20]
....und ich nehm das auf video mit dem handy auf :)

[‎16.‎08.‎2019 15:23]
na !!!??? ich will dich nun ein Ja rufen hören mit der gleichen inbrunst du da jeweils deine Videos ankündigst .... :)




Freundliche Grüsse
Alexander Studer
LIBGJ


</textarea>

